# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Compiled source 
*.mexa64
*.mexw64
*.asv
*.mexmaci64
*.mexaci64
*.mexw32
*.mexglx
*.mexaci
*.mexw64.manifest

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Windows temporary files
~$*

#Matlab temporary files
*.m~
#Vim and other text editor tmp files
*.swp

*.mexa64

externalPackages/xmltree-2.0/@xmltree/private/xml_findstr.mexa64

*.mexmaci64


# Buzcode formats
*.lfp
*.events.*
*.lib
*.exp
