body {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
}

div.fragment { 
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	padding-left: 4px;
	margin: 4px;
}

div.box { 
	width: 98%;
	background-color: #f5f5f5;
	border: 1px solid #CCCCCC;
	color: black;
	padding: 4px;
}

.comment {
	color: #228B22;
}
.string {
	color: #B20000;
}
.keyword {
	color: #0000CC;
}

.keywordtype { color: #604020; }
.keywordflow { color: #e08000; }
.preprocessor { color: #806020; }
.stringliteral { color: #002080; }
.charliteral { color: #008080; }

a {
	text-decoration: none;
	color: #999999;
}

a:hover {
	background-color: #99CCCC;
	color:#FFFFFF;
}

a.code {
	font-weight: normal; 
	color: #A020F0;
}

a.code:hover {
	background-color: #FF0000;
	color: #FFFFFF;
}	

h1 {
	background: transparent;
	color: #666666;
	font-size: large;
	text-align: left;
}

h2 {
	background: transparent;
	color: #006699;
	font-size: medium;
	text-align: left;
}

address {
	font-size:small;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}
input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #eeeeff;
}

li {
	padding-left:5px;
	color: #333333;
}
